<table class="table table-hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>Mesa</th>
        <th>Producto</th>
        <th>Total</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>10</td>
        <td>Pizza</td>
        <td>$15.00</td>
        <td>
          <button class="btn btn-primary btn-sm" onclick="editRow(1)">Editar</button>
          <button class="btn btn-danger btn-sm" onclick="deleteRow(1)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
  <button >Nueva Orden</button>
  