<h1 class="titulo">REGISTRO</h1>
<form class="registro-form" >
<div class="login-container">
    <div class="form-group">
      <label for="usr">Id</label>
      <input type="number" class="form-control" id="id" name="id">
    </div>
    <div class="form-group">
      <label for="pwd">Mesa</label>
      <input type="text" class="form-control" id="mesa" name="mesa">
    </div>
    <div class="form-group">
        <label for="pwd">Mesa</label>
        <input type="text" class="form-control" id="mesa" name="mesa">
      </div>
      <div class="form-group">
        <label for="pwd">Pedido</label>
        <input type="text" class="form-control" id="pedido" name="pedido">
      </div>
    <div class="form-group">
      <label for="sel1">Tipo de Acceso:</label>
      <select class="form-control" id="seleccion" name="seleccion">
        <option>Admin</option>
        <option>Mesero</option>
      </select>
    </div>
    <button title="Registrarse" type="submit">Registrarse</button>
  </div>
</form>
  
